<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" asp-area="Admin" asp-controller="Main" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Anasayfa
                </a>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Postlar
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a asp-area="Admin" asp-controller="Posts" asp-action="Index" class="nav-link">Post Listesi</a>
                        <a asp-area="Admin" asp-controller="Posts" asp-action="Create" class="nav-link">Yeni Post Ekle</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Kategori Yönetim
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="nav-link">Kategori Listesi</a>
                        <a asp-area="Admin" asp-controller="Categories" asp-action="Create" class="nav-link">Yeni Kategori Ekle</a>

                    </nav>
                </div>
                <div class="sb-sidenav-menu-heading">Etkileşim</div>
               
                <a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                    Kullanıcılar
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Yetkili Kullanıcı:</div>
            Hoşgeldin : Admin
        </div>
        
    </nav>
</div>